@define-mixin menu {
  position: absolute;
  background: var(--background);
  box-shadow: var(--shadow);
  color: white;
  border: 2px solid;
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 99;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media print {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex: 1;
    background: var(--gradient);

    &:after {
      content: '';
      background: repeating-linear-gradient(90deg, transparent, transparent 2px, var(--background) 0, var(--background) 10px);
      display: block;
      width: 100%;
      right: 10px;
      margin-left: -4px;
    }

    a {
      flex: 0 0 auto;
      max-width: 100%;
      text-decoration: none;
    }
  }

  .menu {
    --shadow-color: color-mod(var(--background) a(80%));
    --shadow: 0 10px var(--shadow-color), -10px 10px var(--shadow-color), 10px 10px var(--shadow-color);
    margin: 20px 0;

    @media (--phone) {
      @mixin menu;
      top: 50px;
      right: 0;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      &--desktop {
        @media (--phone) {
          display: none;
        }
        background: var(--gradient);
      }

      &--mobile {
        display: none;

        @media (--phone) {
          display: block;
        }
      }

      li {
        position: relative;

        a {
          padding: 4px;
          background: var(--background);
          &:hover {
            background: transparent;
          }
        }

        &:not(:last-of-type) {
          flex: 0 0 auto;
          margin-right: 20px;

          &:after {
            content: "";
            position: absolute;
            display: block;
            width: 20px;
            background: var(--background);
            height: 100%;
            right: -20px;
            top: 0;
          }

          @media (--phone) {
            padding-bottom: 10px;
          }
        }

        &.placeholder {
          flex-grow: 1;
          background: var(--background);
        }
      }

      @media (--phone) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        li {
          margin: 0;
          padding: 5px;
        }
      }
    }

    &__sub-inner {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      &>li>a {
        padding: 4px;
      }

      &-more {
        @mixin menu;
        top: 35px;
        left: 0;

        &-trigger {
          user-select: none;
          cursor: pointer;
        }

        li {
          margin: 0;
          padding: 5px;
          white-space: nowrap;
        }
      }
    }

    .spacer {
      flex-grow: 1;
      background: var(--background);
    }

    .language-selector {
      position: relative;
      list-style: none;
      margin: 0;
      color: white;

      &-current {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        margin: 0;
        padding: 0 4px;
        background: var(--background);

        &:hover {
          background: transparent;
        }
      }

      &__more {
        @mixin menu;
        top: 35px;
        right: 0;
      }
    }

    &-icons {
      position: absolute;
      right: 0;

      @media (--phone) {
        right: 40px;
      }
    }

    &-trigger {
      color: var(--accent);
      border: 2px solid;
      margin-left: 10px;
      height: 100%;
      padding: 3px 8px;
      position: relative;
      cursor: pointer;
    }
  }
}
