@define-mixin menu {
  position: absolute;
  background: var(--background);
  box-shadow: var(--shadow);
  color: white;
  border: 2px solid;
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 99;

  @media screen and (prefers-color-scheme: light) {
    background: var(--background-light);
    box-shadow: var(--shadow-light);
    color: var(--color-light);
  }
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  
  &::after {
    content: " ";
    display: block;
    margin-top: 20px;
    margin-left: -40px;
    margin-right: -40px;

    border-bottom: 1px solid var(--border-color);
    @media screen and (prefers-color-scheme: light) {
      border-bottom: 1px solid var(--border-color-light);
    }
  }

  @media print {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex: 1;
    background: var(--gradient);

    &:after {
      content: '';
      background: var(--background-strips);
      @media screen and (prefers-color-scheme: light) {
        background: var(--background-strips-light);
      }
      display: block;
      width: 100%;
      right: 10px;
      margin-left: -4px;
    }

    a {
      flex: 0 0 auto;
      max-width: 100%;
      text-decoration: none;
    }
  }

  .menu {
    --shadow-color: color-mod(var(--background) a(80%));
    --shadow: 0 10px var(--shadow-color), -10px 10px var(--shadow-color), 10px 10px var(--shadow-color);
    --shadow-color-light: color-mod(var(--accent) a(10%));
    --shadow-light: 0 10px var(--shadow-color-light), -10px 10px var(--shadow-color-light), 10px 10px var(--shadow-color-light);
    --margin: 15px;
    --margin-negative: -15px;

    margin: 20px 0;

    @media (--phone) {
      @mixin menu;
      top: 50px;
      right: 0;
    }

    .placeholder {
      flex-grow: 1;
      background: var(--background);

      @media screen and (prefers-color-scheme: light) {
        background: var(--background-light);
      }
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      &--desktop {
        @media (--phone) {
          display: none;
        }
        background: var(--gradient);
      }

      &--mobile {
        display: none;

        @media (--phone) {
          display: block;
        }
      }

      &>li:not(:last-child):after {
        content: "";
        position: absolute;
        display: block;
        width: var(--margin);
        background: var(--background);
        box-shadow: 0px 0px 0px 1px var(--background);
        height: 100%;
        right: var(--margin-negative);
        top: 0;

        @media screen and (prefers-color-scheme: light) {
          background: var(--background-light);
          box-shadow: 0px 0px 0px 1px var(--background-light);
        }
      }

      &>.menu__external a:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='#ffffff' viewBox='0 0 24 24'%3E%3Cpath d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'/%3E%3C/svg%3E") !important;
        padding-left: 8px;

        @media screen and (prefers-color-scheme: light) {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='#0c2426' viewBox='0 0 24 24'%3E%3Cpath d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'/%3E%3C/svg%3E") !important;
        }
      }

      li {
        position: relative;

        a {
          padding: 6px;
          background: var(--background);
          color: var(--color);

          @media screen and (prefers-color-scheme: light) {
            background: var(--background-light);
            color: var(--color-light);
          }
          &:hover {
            background: transparent;
          }
        }

        &:not(:last-of-type) {
          margin-right: var(--margin);
          flex: 0 0 auto;
        }
      }

      @media (--phone) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        li {
          margin: 0;
          padding: 5px;
        }
      }
    }

    &__sub-inner {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      &:not(:only-child) {
        margin-left: 20px;
      }

      &-more {
        @mixin menu;
        top: 35px;
        left: 0;

        &-trigger {
          background: var(--background);
          padding: 0 4px;
          user-select: none;
          cursor: pointer;

          &:hover,&:focus {
            background: transparent;
          }
        }

        li {
          margin: 0;
          padding: 5px;
          white-space: nowrap;
        }
      }
    }

    .spacer {
      flex-grow: 1;
      background: var(--background);
      box-shadow: 0px 0px 0px 1px var(--background);

      @media screen and (prefers-color-scheme: light) {
        background: var(--background-light);
        box-shadow: 0px 0px 0px 1px var(--background-light);
      }
    }

    .language-selector {
      position: relative;
      list-style: none;
      margin: 0;
      color: var(--color);

      &-current {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        margin: 0;
        padding: 0 6px;
        background: var(--background);

        @media screen and (prefers-color-scheme: light) {
          color: var(--color-light);
          background: var(--background-light);
        }
        &:hover {
          background: transparent;
        }
      }

      &__more {
        @mixin menu;
        top: 35px;
        right: 0;
      }
    }

    &-trigger {
      color: var(--accent);
      border: 2px solid;
      margin-left: 10px;
      height: 100%;
      padding: 3px 8px;
      position: relative;
      cursor: pointer;

      @media screen and (prefers-color-scheme: light) {
        color: var(--accent-light);
      }
    }
  }
}
