{{ $images := $.Resources.ByType "image" }}
{{ $featured := $images.GetMatch "*feature*" }}
{{ $size := 80 }}
{{ $x := 50 }}
{{ $y := 50 }}
{{ $y2 := 300 }}
{{ if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end }}
{{ if not $featured }}
    {{ $featured = resources.Get "/cover-template.png" }}

    {{ $title := $.Title }}
    {{- if $.Params.cover.title }}
    {{- $title = $.Params.cover.title }}
    {{- end }}

    {{ $text := print ($title | htmlUnescape | truncate 40) }}
    {{ $textOptions := dict 
        "color" "#222"
        "size" $size
        "lineSpacing" 10
        "x" $x "y" $y
        "font" (resources.Get "/fonts/Montserrat-Regular.ttf")
    }}

    {{ $featured = $featured | images.Filter (images.Text $text $textOptions) }}
    
    {{ if $.Params.cover.subtitle }}
        {{- $subtitle := $.Params.cover.subtitle }}

        {{ $text = print ($subtitle | htmlUnescape | truncate 200) }}
        {{ $textOptions = dict 
            "color" "#222"
            "size" (div $size 1.25)
            "lineSpacing" 5
            "x" $x "y" $y2
            "font" (resources.Get "/fonts/Montserrat-Regular.ttf")
        }}
        
        {{ $featured = $featured | images.Filter (images.Text $text $textOptions) }}
    {{ else }}

        {{ if lt (len $title) 60 }}
            {{- $description := "" }}
            {{- if $.Params.cover.description }}
                {{- $description = $.Params.cover.description }}
            {{- else }}
                {{- if $.Description }}
                    {{- $description = $.Description }}
                {{- else }}
                    {{- if $.IsPage}}
                        {{- $description = $.Summary }}
                    {{- end }}
                {{- end }}
            {{- end }}

            {{ $text = print ($description | htmlUnescape | truncate 130) }}
            {{ $textOptions = dict 
                "color" "#222"
                "size" (div $size 1.7)
                "lineSpacing" 10
                "x" $x "y" $y2
                "font" (resources.Get "/fonts/Montserrat-Regular.ttf")
            }}
            
            {{ $featured = $featured | images.Filter (images.Text $text $textOptions) }}
        {{ end }}

    {{ end }}

{{ end }}

{{ return $featured }}
