<section id="education">
  <h1 class="big-header">Education</h1>
  <div class="education-row">
    <div class="education-item">
      <div class="duration">2021-2023</div>
      <h1 class="university">ITMO University</h1>
      <div class="specialization">Master, Infocomm and Digital Media</div>
    </div>
    <div class="education-item">
      <div class="duration">2017-2021</div>
      <h1 class="university">State Technical University of Saratov</h1>
      <div class="specialization">Bachelor, Computer Science and Engineering</div>
    </div>
  </div>
</section>

<hr>

{{- partial "experience_block" }}
