<section id="projects">
  <h1 class="big-header">Projects</h1>
  
  <ul class="project-list">
    <li class="project-item post-entry">
      <div class="project-icon">
        <img src="/images/projects/keen-pbr.jpg" alt="keen-pbr logo" />
      </div>
      <div class="project-content">
        <strong>keen-pbr</strong>: Policy Based Routing (PBR) toolkit for Keenetic® routers to selectively forward traffic of LAN clients to specific VPN destinations based on IP subnets and domain masks.
      </div>
      <a href="https://github.com/maksimkurb/keen-pbr/blob/main/README.en.md" target="_blank" class="entry-link"></a>
    </li>
    
    <li class="project-item post-entry">
      <div class="project-icon">
        <img src="/images/projects/iopc.png" alt="IoPC logo" />
      </div>
      <div class="project-content">
        <strong>IoPC</strong>: Smart home integration service that enables remote PC control via MQTT. Features include volume/media control, system monitoring (CPU, RAM, disk usage), keyboard simulation, and presentation controls through HomeAssistant or other automation platforms.
      </div>
      <a href="https://github.com/maksimkurb/iopc" target="_blank" class="entry-link"></a>
    </li>
  </ul>
</section>
