<meta name="twitter:card" content="summary_large_image" />
{{- $featured := partial "get-featured-image.html" . }}
{{- with $featured -}}
<meta name="twitter:image" content="{{ $featured.Permalink }}" />
{{- end -}}

<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description"
  content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
{{ with site.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}" />
{{ end -}}
